{
    "env": {
        "mocha": true
    },
    "extends": [
        "../.eslintrc"
    ],
    "globals": {
        "expect": false,
        "requirejs": false,
        "sinon": false,
        "ActiveXObject": false,
        "mochaPhantomJS": false
    }
}
