{
    "extends": "../.eslintrc",
    "env": {
        "mocha": true
    },
    "globals": {
        "expect": false,
        "requirejs": false,
        "sinon": false,
        "ActiveXObject": false,
        "mochaPhantomJS": false
    }
}
